<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <p>© {{ currentYear }} Étienne G. Côté - All Rights Reserved</p>
    <p>Contact me at <a href="mailto:etienne.g.cote@outlook.com" style="color: var(--primary-color);">etienne.g.cote@outlook.com</a></p>
    <div class="social-icons mt-3">
      <a href="https://github.com/etiennecote3" target="_blank" class="mx-2">
        <img src="assets/icons/github-icon.png" alt="GitHub" class="social-icon">
      </a>
      <a href="https://www.linkedin.com/in/etienne-g-cote/" target="_blank" class="mx-2">
        <img src="assets/icons/linkedin-icon.png" alt="LinkedIn" class="social-icon">
      </a>
    </div>
  </div>
</footer>
