<div class="footer">
  <p>© {{ currentYear }} Étienne G. Côté - All Rights Reserved</p>
  <p>Contact me at <a href="mailto:etienne.g.cote@outlook.com">etienne.g.cote@outlook.com</a></p>
  <div class="social-icons">
    <a href="https://github.com/etiennecote3" target="_blank">
      <img src="assets/icons/github-icon.png" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/etienne-g-cote/" target="_blank">
      <img src="assets/icons/linkedin-icon.png" alt="LinkedIn">
    </a>
  </div>
</div>
