.projects-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.projects-description {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 15px;
}

.projects-description ul li {
  margin-bottom: 8px;
}

.projects-description ul li::before {
  margin-right: 10px;
  color: var(--primary-color);
  font-weight: bold;
}
