.projects-title {
  font-size: 1.5rem; /* Increase the font size of the project titles */
  font-weight: bold; /* Make titles bold */
  color: var(--primary-color); /* Use the primary color to highlight titles */
  margin-bottom: 10px; /* Add space below the title */
}

.projects-description {
  font-size: 1rem; /* Standard font size for project descriptions */
  color: var(--text-color); /* Text color to match the theme */
  margin-bottom: 15px; /* Space out the descriptions for better readability */
}

.projects-description ul li {
  margin-bottom: 8px; /* Space between list items */
}

.projects-description ul li::before {
  content: '•';
  margin-right: 10px;
  color: var(--primary-color); /* Highlight bullet points */
  font-weight: bold;
}
