<main class="container mt-5">
  <section id="hero-section" class="mb-5">
    <app-hero></app-hero>
  </section>

  <section id="profile-section" class="mb-5">
    <app-profile [resumeData]="resumeData"></app-profile>
  </section>

  <section id="experience-section" class="mb-5">
    <app-experience [resumeData]="resumeData"></app-experience>
  </section>

  <section id="projects-section" class="mb-5">
    <app-projects [resumeData]="resumeData"></app-projects>
  </section>

  <section id="involvements-section" class="mb-5">
    <app-involvements [resumeData]="resumeData"></app-involvements>
  </section>
</main>

<app-footer class="mt-5"></app-footer>
