<main>
  <app-scroller></app-scroller>

  <section id="hero-section">
    <app-hero></app-hero>
  </section>

  <section id="profile-section">
    <app-profile [resumeData]="resumeData"></app-profile>
  </section>

  <section id="experience-section">
    <app-experience [resumeData]="resumeData"></app-experience>
  </section>

  <section id="projects-section">
    <app-projects [resumeData]="resumeData"></app-projects>
  </section>

  <section id="involvements-section">
    <div class="content-wrapper">
      <app-involvements [resumeData]="resumeData"></app-involvements>
    </div>
    <app-footer></app-footer>
  </section>
</main>
